@font-face {
    font-family: Monument; 
    src: url(file/MonumentExtended-Regular.ttf);
}


@font-face {
    font-family: Trueno;
    src: url(file/TruenoExBdIt.ttf);
}

* {
    margin: 0px;    
    padding: 0px;
    border: 0px;
    width: 100%;
}

canvas {
    display: block;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    z-index: -10;
    bottom: 0;
    background: #08090C;
    background-repeat: repeat;
    background-size: cover;
}

.text {
    width: 60%;
    position: absolute;
    margin: 40px 20%;
    text-align: center;
    font-family: Monument;
}

.text h1 {
    color: #ffffff;
    font-size: 50px;
}

.column {
    margin: auto;
    margin-top: 20px;
    height: 60px;
    width: 300px;
    border: #ffffff 1px solid;
    border-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column a {
    color: #F8F8FF;
    text-decoration: none;  
    text-align: center;
    font-size: 20px;
}

#first-column {
    margin-top: 60px;
}

.footer {
    text-align: center;
    color: #f8f8ff;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 17px;
}